$primary-background-color: #fff;

$primary-calculator-color: #a3a6ab;
$secondary-calculator-color: #7b7c7d;

$primary-text-color: #fff;
$primary-button-color: #FFF;

$primary-operator-color: #de3813;
$primary-action-color: #0ae4ef;
$primary-key-color: #262933;
