$primary-background-color: #fff;

$primary-calculator-color: #22252D;
$secondary-calculator-color: #292D36;

$primary-text-color: #fff;
$primary-button-color: #FFF;

$primary-operator-color: #EB6666;
$primary-action-color: #26FED7;
$primary-percent-color: rgb(234, 234, 28);
$primary-key-color: #262933;